# https://npmmirror.com/
registry = https://registry.npmmirror.com
public-hoist-pattern[] = react
public-hoist-pattern[] = @types/react
# For docker: https://pnpm.io/npmrc#unsafe-perm
unsafe-perm = true
