.dark {
  // 表单
  .ant-form-item-label > label {
    color: white;
  }

  // 分割线
  .ant-divider {
    border-top-color: rgba(255,255,255,0.12);
    color: rgba(255,255,255,0.85);
  }

  // 排版
  .ant-typography {
    color: rgba(255,255,255,0.65);
  }

  // 输入框
  .ant-input {
    color: rgba(255,255,255,0.65);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.12);
  }

  // 走马灯
  .ant-carousel {
    color: rgba(255,255,255,0.65);
  }
}
