# https://npmmirror.com/
registry = https://registry.npmmirror.com
strict-peer-dependencies = false # some dependency is not fit tailchat, tailchat's dependency is complex, every peer dependencies problem should check with manual.
