<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailchat Mail</title>
</head>
<body>

<div style="width: 100%; min-width: 580px; margin: 0 auto; padding: 20px 0 30px; background-color: #fafafa;">
  <div style="margin: 20px auto 30px; text-align: center;">
    <img width="50" height="50" src="https://tailchat.msgbyte.com/img/logo@192.png" />
  </div>

  <div style="width: 580px; background-color: white; margin: auto; padding: 24px 48px; border: 1px solid #dddddd; overflow-wrap: break-word;border-radius: 3px;">
    <%- body %>
  </div>


  <p style="color:#888888;font-weight:normal;text-align:center;line-height:1.5;font-size:12px; margin:20px 0 10px; padding:0;">
    Sent with â¤ by <strong>Tailchat</strong>.
  </p>
</div>
</body>
</html>
