.td-combined-avatar {
  position: relative;
  overflow: hidden;
}

.td-combined-avatar-2 > .line1 {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  left: 50%;
  top: 0;
}

.td-combined-avatar-3 > .line2 {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: white;
  right: 0;
  top: 50%;
}

.td-combined-avatar-3 > .line1 {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  left: 50%;
  top: 0;
}

.td-combined-avatar-4 > .line2 {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  top: 50%;
}

.td-combined-avatar-4 > .line1 {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  left: 50%;
  top: 0;
}

.td-combined-avatar__item {
  position: absolute;
  border-radius: 0;
}
