# https://npmmirror.com/
registry = https://registry.npmmirror.com
ignore-workspace-root-check = true
strict-peer-dependencies = false # 因为一些旧依赖(特别是mongoose相关) 比较糟糕，因此关掉
# For docker: https://pnpm.io/npmrc#unsafe-perm
unsafe-perm = true
