.dark {
  // 表单
  .ant-form-item-label > label {
    color: white;
  }

  // 分割线
  .ant-divider-horizontal.ant-divider-with-text {
    border-top-color: rgba(255,255,255,0.12);
    color: rgba(255,255,255,0.85);
  }

  // 排版
  .ant-typography {
    color: rgba(255,255,255,0.65);
  }
}
